{% load static %}
<!-- ======= Facts Section ======= -->
<section id="facts" class="facts">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Интересные факты обо мне</h2>
<!--            <p>Беговое сообщество основанное ...</p>-->
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="2500" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Оббежал Францию, км</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="bi bi-egg-fried"></i>
                    <span data-purecounter-start="0" data-purecounter-end="180" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Самый длинный забег длился 3 дня, км</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="bi bi-activity"></i>
                    <span data-purecounter-start="0" data-purecounter-end="1500" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Количество учеников</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="9999" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>"Что-то ещё"</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Facts Section -->