{% load static %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Сергей Шелапугин</h1>
      <p>Я <span class="typed" data-typed-items="Бегун, Триатлонец, Тренер"></span></p>
      <div class="social-links">
        <a href="#" class="telegram"><i class="bx bxl-telegram"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-whatsapp"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </section>