<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Опыт работы</h2>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <h3 class="resume-title">Профессиональный опыт</h3>
                <div class="resume-item">
                    <h4>Служба</h4>
                    <h5>2014 - 2017</h5>
                    <p><em>Вооружённые силы Российской Федерации</em></p>
                    <p>Заслуги:</p>
                    <ul>

                        <li>Чемпион России по военному троеборью</li>
                        <li>Чемпион ЦВО по военному пятиборью</li>
                        <li>КМС по военно-прикладным видам</li>
<!--                        <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>-->
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Тренер по физической подготовке</h4>
                    <h5>2015 - 2018</h5>
                    <p><em>ADIDAS GROUP</em></p>
<!--                    <ul>-->
<!--                        <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and-->
<!--                            advertisements).-->
<!--                        </li>-->
<!--                        <li>Managed up to 5 projects or tasks at a given time while under pressure</li>-->
<!--                        <li>Recommended and consulted with clients on the most appropriate graphic design</li>-->
<!--                        <li>Created 4+ design presentations and proposals a month for clients and account managers</li>-->
<!--                    </ul>-->
                </div>
                <div class="resume-item">
                    <h4>Персональный тренер</h4>
                    <h5>2018</h5>
                    <p><em>Worldclass</em></p>
                </div>
                <div class="resume-item">
                    <h4>Тренер по физической подготовке, специализация футбол</h4>
                    <h5>2019 - 2020</h5>
                    <p><em>ВИЗ-СИНАРА</em></p>
                    <p>Заслуги:</p>
                    <ul>
                        <li>Команда выиграла Первенство России по мини-футболу</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Преподаватель, тренер сборной по многоборью</h4>
                    <h5>2020 - 2021</h5>
                    <p><em>УРГЭУ-СИНХ</em></p>
                </div>
            </div>

            <div class="col-lg-6">
                <h3 class="resume-title">Учеба</h3>
                <div class="resume-item">
                    <h4>Высшее педагогическое</h4>
                    <h5>2010 - 2015</h5>
                    <p><em>Уральский государственный педагогический университет</em></p>
<!--                    <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero-->
<!--                        voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>-->
                </div>
                <div class="resume-item">
                    <h4>Сертифицированный персональный тренер</h4>
                    <h5>2017</h5>
                    <p><em>Институт фитнеса - UPWARD INSTITUTE OF FITNESS </em></p>
<!--                    <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione-->
<!--                        eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon-->
<!--                        sader mart dila</p>-->
                </div>
            </div>

        </div>

    </div>
</section>