{% extends 'base.html' %}

<!--Содержание <head>-->
{% block head %}
{% include 'inc/head.html' %}
{% endblock %}

<!--Меню-->
{% block navbar %}
{% include 'inc/navbar.html' %}
{% endblock %}

<!--Начальное фото с текстом-->
{% block hero %}
{% include 'sections/hero.html' %}
{% endblock %}

<!--Обо мне-->
{% block about %}
{% include 'sections/about-me.html' %}
{% endblock %}

<!--Факты-->
{% block facts %}
{% include 'sections/facts.html' %}
{% endblock %}

<!--Навыки-->
{% block skills %}
{% endblock %}

<!--Опыт работы-->
{% block resume %}
{% include 'sections/resume.html' %}
{% endblock %}

<!--Достижения-->
{% block portfolio %}
{% include 'sections/portfolio.html' %}
{% endblock %}

<!--Услуги-->
{% block services %}
{% include 'sections/services.html' %}
{% endblock %}

<!--Заявка-->
{% block bid %}
{% include 'sections/bid.html' %}
{% endblock %}

<!--Партнеры-->
{% block testimonials %}
{% include 'sections/testimonials.html' %}
{% endblock %}

<!--Футер-->
{% block footer %}
{% include 'inc/footer.html' %}
{% endblock %}

<!--Скрипты-->
{% block scripts %}
{% include 'inc/scripts.html' %}
{% endblock %}

