{% load static %}

<!--Содержание <head>-->
{% block head %}
{% include 'inc/head.html' %}
{% endblock %}


{% block portfolio %}

<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">

                        <div class="swiper-slide">
                            <img src="{% static 'img/portfolio/france-1.JPG' %}"
                                 alt="">
                        </div>

                        <div class="swiper-slide">
                            <img src="{% static 'img/portfolio/france-2.JPG' %}"
                                 alt="">
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Забег по Франции</h3>
                    <ul>
                        <li><strong>Категория</strong>: Легкая атлетика</li>
                        <li><strong>Место проведения</strong>: Франция</li>
                        <li><strong>Дата проведения</strong>: ?</li>
                        <li><strong>Сайт соревнования</strong>: <a href="#" target="_blank">?</a></li>
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>Отчет</h2>
                    <p>
                        "Детали прохождения соревнования"
                    </p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Details Section -->
{% endblock %}

<!--Футер-->
{% block footer %}
{% include 'inc/footer.html' %}
{% endblock %}

<!--Скрипты-->
{% block scripts %}
{% include 'inc/scripts.html' %}
{% endblock %}