<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container" >
        <h3>Сергей Шелапугин</h3>
        <p>
            <h5>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Всем спорт!
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </h5>
        </p>
        <div class="social-links">
            <a href="https://t.me/Sergeyshelapugin" class="telegram" target="_blank"><i class="bx bxl-telegram"></i></a>
            <a href="https://api.whatsapp.com/send?phone=79222080708" class="facebook" target="_blank"><i
                    class="bx bxl-whatsapp"></i></a>
            <a href="https://www.instagram.com/sergeyshelapugin/" class="instagram" target="_blank"><i
                    class="bx bxl-instagram"></i></a>
        </div>
    </div>
</footer>